
---
# tasks file for terraform

- name: Install unzip (required for extracting Terraform)
  apt:
    name: unzip
    state: present
    update_cache: yes

- name: Download Terraform binary
  get_url:
    url: https://releases.hashicorp.com/terraform/1.8.0/terraform_1.8.0_linux_amd64.zip
    dest: /tmp/terraform.zip
    mode: '0644'

- name: Unzip Terraform
  unarchive:
    src: /tmp/terraform.zip
    dest: /usr/local/bin/
    remote_src: yes
    mode: '0755'

- name: Verify Terraform installation
  command: terraform --version

